-- Create a public profiles table to store additional user onboarding data
create table if not exists public.profiles (
  id uuid references auth.users(id) not null primary key,
  company_name text,
  tagline text,
  description text,
  website text,
  twitter text,
  role text default 'startup', -- 'startup' or 'candidate'
  created_at timestamptz default now(),
  updated_at timestamptz default now()
);

-- Enable Row Level Security (RLS)
alter table public.profiles enable row level security;

-- Policy: Profile viewable by everyone
create policy "Public profiles are viewable by everyone." 
  on public.profiles for select 
  using ( true );

-- Policy: Users can insert their own profile
create policy "Users can insert their own profile." 
  on public.profiles for insert 
  with check ( auth.uid() = id );

-- Policy: Users can update own profile
create policy "Users can update own profile." 
  on public.profiles for update 
  using ( auth.uid() = id );

-- Function to handle new user signup
create or replace function public.handle_new_user() 
returns trigger as $$
begin
  insert into public.profiles (id, company_name, role)
  values (new.id, new.raw_user_meta_data->>'company_name', 'startup');
  return new;
end;
$$ language plpgsql security definer;

-- Trigger the function every time a user is created
-- Drop partial trigger if exists to avoid errors on re-run
drop trigger if exists on_auth_user_created on auth.users;
create trigger on_auth_user_created
  after insert on auth.users
  for each row execute procedure public.handle_new_user();
